BOT_TOKEN=8736716784:AAHHMVeC7_e_oJdNTVpYORD-aYr85CPFUoo
ADMIN_IDS=8034491282
WITHDRAWALS_CHAT_ID=-1003869807196
BOT_USERNAME=katakuri_ref_bot
REFERRAL_REWARD=0.07
MIN_WITHDRAW=2.0
DB_PATH=referral_bot.db
