BOT_TOKEN=8702728385:AAESnfWAqChZJ1dGAx0iPbN3we17jatVRHU
ADMIN_IDS=8034491282
WITHDRAWALS_CHAT_ID=-1003869807196
BOT_USERNAME=LudoWorkbot
REFERRAL_REWARD=0.07
MIN_WITHDRAW=2.0
DB_PATH=referral_bot.db
